---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="B.S. in Computer Science"
      subtitle="Currently enrolled at POSTECH, Pohang, South Korea"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <!--
      경력이 생기면 아래 형식으로 추가하세요:
      <TimeLineElement
        title="Job Title at Company"
        subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
      >
        Description of responsibilities and achievements.
      </TimeLineElement>
    -->
    <div class="text-base opacity-60">To be updated.</div>
  </div>

  <!--
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li><a href="#" target="_blank"> Certification Name (with link)</a></li>
  </ul>
  -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <!--
      스킬을 추가하세요:
      <li>Python</li>
      <li>PyTorch</li>
      <li>C++</li>
    -->
    <li class="opacity-60">To be updated.</li>
  </ul>
</BaseLayout>
