---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="B.S. in Computer Science"
      subtitle="Currently enrolled at POSTECH, Pohang, South Korea"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Software Development Intern"
      subtitle="From Jun 2025 to Aug 2025 at BlueSlab Co., Ltd., Seoul, South Korea"
    >
      Upcoming software development internship.
    </TimeLineElement>
    
    <TimeLineElement
      title="Undergraduate Research Intern"
      subtitle="From Dec 2024 to Apr 2025 at HIS-LAB (Prof. Inseok Hwang), POSTECH, Pohang, South Korea"
    >
      Participated in Human-Computer Interaction (HCI) research and gained practical experience in conducting user interviews and qualitative research methods.
    </TimeLineElement>

    <TimeLineElement
      title="Undergraduate Research Intern"
      subtitle="From Jun 2024 to Aug 2024 at Computer Vision Lab (Prof. Minsu Cho), POSTECH, Pohang, South Korea"
    >
      Completed an educational internship with a focus on deep learning. Participated in a study group covering the Stanford CS231n (Deep Learning for Computer Vision) curriculum and conducted a final transfer learning project.
    </TimeLineElement>
  </div>

  <!--
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>
  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li><a href="#" target="_blank"> Certification Name (with link)</a></li>
  </ul>
  -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Publications</div>
  </div>

  <div class="mb-10">
    <div class="text-base opacity-60">There are no publications to display at this time.</div>
  </div>
</BaseLayout>
