---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).filter((post) => !post.data.draft).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Hi! 👋</div>
    <div class="text-5xl font-bold">I'm Seongju Park</div>
    <div class="text-3xl py-3 font-bold">Undergraduate in Computer Science at POSTECH</div>
    <div class="py-2">
      <text class="text-lg">
        I have a broad interest in <b>AI</b>, <b>HCI</b>, and <b>Psychology</b>.
        My ultimate goal is to pursue research that is necessary yet underexplored.
        Recently, I've been interested in how well the mental models of AI and humans are aligned,
        and whether this alignment can help us better understand autism.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="/cv">Move to CV</a>
      <a href="/about" class="btn btn-outline ml-5">
        More Information
      </a>
    </div>
  </div>

  <!--
    === My Projects ===
    프로젝트가 생기면 아래 주석을 해제하고 내용을 채워주세요.

    <div>
      <div class="text-3xl w-full font-bold mb-2">My Projects {"</>"}</div>
    </div>
    <HorizontalCard
      title="Project Title"
      img="/post_img.webp"
      desc="Description of the project"
      url="https://..."
      badge="NEW"
    />
    <div class="divider my-0"></div>
  -->

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from Blog</div>
  </div>

  {
    last_posts.length > 0 ? (
      last_posts.map((post) => (
        <>
          <HorizontalCard
            title={post.data.title}
            img={post.data.heroImage}
            desc={post.data.description}
            url={"/blog/" + createSlug(post.data.title, post.slug)}
            target="_self"
            badge={post.data.badge}
          />
          <div class="divider my-0" />
        </>
      ))
    ) : (
      <div class="text-base opacity-60">No posts yet. Stay tuned!</div>
    )
  }
</BaseLayout>
